#navhead {
     height: 60px;
     background: #b98989;
}

.quoteIn2 {
     background-color: #f7d8a2;
}
#navfoot {
     height: 300px;
     background: #542d2d;
     color: aliceblue;
}

.footA {
     color: aliceblue;
}