header {
     height: 60px;
     background: #b98989;
}
header a {
     color: black;
}

.quoteIn2 {
     background-color: #f7d8a2;
}
footer {
     height: 300px;
     background: #542d2d;
     color: aliceblue;
}
footer a {
     color: aliceblue;
}
